*{
	font-family: 'Hind', Helvetica, Arial, sans-serif;
	color: #666666;
  text-decoration: none;
}

body {
	margin: 0;
	font-size: 12px;
	padding: 20px 20px 20px 20px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1450px;
	width:100%;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

@media screen and (min-width: 1024px) {
    body {
    	padding: 0px 0px;
    }
 }

@media screen and (min-width: 700px) {
   
 .wrapper {
    	max-width: 1450px;
    }
 }

.image{
	width:100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wrapper + .image,
.image + .image {
	margin-bottom: 0px;
}


.text{
	font-size: 12px;
	font-weight: 400;
}


.text_bold{
  font-size: 14px;
  font-weight: 400;
}

.text__link{
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
}

.text__link:hover{
  text-decoration: none;
  color: blue; 
  }  

.text__centerlink:hover{
  text-decoration: none;
  color: white; 
  }  

.centerlink{
  position: fixed;
  top: 0px;
  right: 0px;  
  text-decoration: none;
  font-size: 12px;
  z-index: 10;
	width: 100%;
	text-align: center;
	padding:20px 20px;
  background-color: black;
  color: white;
}


.centerlink:hover {
  /*margin-bottom: 60px;*/
  color: white;  
  background-color:#0000ff;    
}


.left_col {
   float:left;
   max-width: 350px;
   padding-left: 20px;
   }


.right_col {
   float:left;
   max-width: 350px;
   padding-left: 20px;
   }

